.vacancy-form{
    background-color: var(--color-six);
    padding: 60px 0px;
    @media(max-width: 992px){
        padding: 40px 0px;
    }
    &__container{
        display: grid;
        grid-template-columns: 300px 416px;
        gap: 10px;
        @media(max-width:992px){
            grid-template-columns: 1fr;
            gap: 0px;
        }
        input[type=file]{
            display: none;
        }
        input[type=text],input[type=tel],textarea{
            background-color: var(--color-eight);
            padding: 15px;
            border: none;
            width: 100%;
            box-sizing:border-box;
        }
        textarea{
            height: 126px;
            resize: none;
            width:100%;
        }
        input[type=submit]{
            background: var(--color-two);
            color: #FFF;
            font-size: 21px;
            text-transform: uppercase;
            width: 100%;
            border: 0px;
            padding: 15px;
            box-sizing:border-box;
            cursor: pointer;
            -webkit-border-radius:0px;
            -webkit-appearance:none;
        }
        .vacancy-form__file{
            svg{
            display: inline;
            width:25px;
            height: 23px;
            margin-right: 15px;
            }
            display: flex;
            align-items: center;
            p{
                display: flex;
                align-items: center;
            }
        }
        p{
            margin: 10px 0px 0px;
        }
    }
    &__header{
        &.black_header{
            text-transform: uppercase;
            padding-bottom: 0px;
            line-height: 1em;
            margin-left: 20%;
            @media(max-width: 992px){
                margin-left: 0px;
                margin-right: auto;
                white-space: nowrap;
                font-size: 35px;
            }
            
        }
    }
    &__file{
        cursor: pointer;
        &.file_selected{
            flex-wrap: wrap;
            .vacancy-form__file-notice{
                display: none;
            }
        }
        
        &-choosen{
            padding-left: 0px;
        }
    }
    &__content{
        margin: 60px auto 0px;
        max-width: 720px;
        @media(max-width: 992px){
            margin-top: 40px;
        }
    }
}