.reference-tour{
    margin-top: 60px;
    margin-bottom: 180px;
    position: relative;
    overflow: hidden;
    @media(max-width: 768px){
        margin-bottom: 60px;
    }
    .red_header{
        margin-top: 80px;
        font-weight: bold;
        margin-bottom: 40px;
        @media(max-width:530px){
            margin: 30px 0px 20px;
        }
    }
    .black_header{
        @media(max-width:992px){
            font-size: 35px;
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 60px;
        @media(max-width:992px){
            grid-template-columns: repeat(3,1fr);
            gap: 40px;
        }
        @media(max-width:768px){
            grid-template-columns: repeat(2,1fr);
            gap: 40px;
        }
        @media(max-width:530px){
            grid-template-columns: 1fr;
            gap: 10px;
        }
        >div{
            strong{
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
            }
            line-height: 158%;
        }
    }
    &__decor-1{
        position: absolute;
        top: 290px;
        right: -80px;
        z-index: -1;
        @media(max-width:992px){
            display: none;
        }
    }
}